*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url('../images/bank_image.png');
}
#container{
    height: 100vh;
}

header{
    background-color: white;
}

#form_container{
    width: 600px;
    margin: 40px auto;
    height: 30em;
    padding: 20px;
    border: 2px solid rgb(24, 41, 97);
    border-radius: 20px;
    overflow-y: scroll;
    background-color: white;
}

.pop {
    display: none;
}

form p{
    padding:  5px 10px;
    font-size: 18px;
}
form #title{
    font-family: 'Iceberg';
    font-size: 25px;
    padding: 10px;
    color: rgb(13, 24, 61);
}

.input, .inpu{
    padding: 10px;
    margin-right: 10px;
    font-family: 'Baloo Thambi 2';
    font-weight: bold;
    border:  1px solid silver;
    border-radius: 7px;
    
}


button, #submit{
    margin: 10px;
    width: 150px;
    padding: 5px;
    border:  1px solid silver;
}

button:hover, #submit:hover{
    background-color: rgb(197, 203, 221);
    border:  none;
}

.input:focus{
    outline: 2px solid rgb(13, 24, 61);
}

.pop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(236, 213, 213, 0.1); /* Adjust the opacity as needed */
    z-index: 9999;
    color: white;
    padding: 20px;
    align-items: center;
}

#message{
    width: 500px;
    height: fit-content;
    background-color: white;
    margin: 0 auto;
    border: 2px solid rgb(190, 166, 187);
    padding: 5px;
    box-shadow: 0px 4px 31px 6px rgba(0,0,0,0.75);
}

#message button{
    width: 100px;
}

#message a{
    position: relative;
    top: 5px;
    padding: 5px 25px;
    background-color: white;
    text-decoration: none;
}

#message p{
    padding: 20px;
    color: black;
}

#message div{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}