* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    cursor: pointer;
}

a:active{
    color: white;
}



#logo {
    padding: 20px;
}



#nav_options ul{
    display: flex;
    justify-content: center;
}

#nav_options ul li{
    list-style: none;
    padding: 10px 20px;
    border-radius: 10px;
}

#nav_options ul li:last-child {
    background-color: #110526;
    color: white;
}


/* home html css */

#land_body{
    height: fit-content;
    background: conic-gradient(from 181deg at 50% 50%, rgba(217, 217, 217, 0.00) 6.72125369310379deg, rgba(142, 131, 160, 0.48) 51.213160157203674deg, rgba(17, 5, 38, 0.15) 162.17902779579163deg, rgba(167, 164, 172, 0.12) 262.7010440826416deg);
}

#land_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#image_side{
    background: url('../images/head.png'), lightgray 50% / cover no-repeat;
    background-position: -10px;
    border-radius: 500px;
    width: 500px;
    height: 363px;
    flex-shrink: 0;
}

#description p{
    color: #40101F;
    font-family: 'Lobster Two', cursive;
    font-size: 60px;
}
#description p span{
    color: #40101F;
    font-family: 'Marvel', sans-serif;
    font-size: 20px;
}

#desc{
    width: 60%;
    margin: 20px auto;
    color: #40101F;
    margin-top: 20px;
    display: flex;
    text-align:right;
    line-height: 30px;
    font-family: 'Libre Caslon Text';
    font-size: 20px;

}

#description a{
    padding: 10px 20px;
    background-color: white;
    color:#110526;
    position: relative;
    border-radius: 14px;
}
#description a:last-child{
    background-color: #110526;
    color: white;
    margin: 20px;
}

.info {
    height: fit-content;
    padding: 60px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.info:nth-of-type(2){
    flex-direction: row-reverse;
    
}
.info:nth-of-type(2) .transfer_desc p:nth-child(2){
    text-align: left;
    
}
.info .transfer_desc p:nth-child(2){
    text-align: right;
}

.photo {
    width: 30%;
    height: 190px;
    background-color: silver;
    border-radius: 40px;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.transfer_desc{
    width: 30%;
    font-family: 'Iceberg';
}
.transfer_desc p:nth-child(2){
    font-family: 'Libre Caslon Text';
    margin-top: 20px;
}

.div_sign{
    height: fit-content;
    background-color: purple;
    color: white;
    text-align: center;
    
}
.div_sign p:first-child{
    font-size: 35px;
    margin-bottom: 20px;
    font-family: 'Iceberg';
}

#purple{
    display: flex;
    justify-content: space-between;
}

#purple p:first-child{
    width: 200px;
}

.photo_2{
    height: 400px;
    border-radius: 40px;
    width: 400px;
    flex-shrink: 0;
    background: url(../images/login.png), lightgray 50% / cover no-repeat;
    
    filter: blur(2px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#purple p:last-child{
    text-align: center;
    font-family: 'Libre Caslon Text';
}

#partners{
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    font-size: 15px;
    margin-bottom: 50px;
}

#partners p:first-child{
    font-family: 'Iceberg';
    font-size: 30px;
    margin-bottom: 20px;
}

#partners p:last-child{
    
}

#last_div{
    display: flex;
    height: 300px;
    background-color: #110526;
}

footer{
    display: flex;
    padding: 20px;
    align-items: baseline;
    justify-content: space-around;
}

footer div{
    width: 30%;
}