* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.transactions {
  max-width: 100%;
  min-width: 1000px;
  
}

.top-btn {
  display: flex;
  justify-content: space-between;
  margin: 40px 20% 30px 20%;
}

.top-btn p {
  font-size: 16px;
}

.bal {
  width: 300px;
  padding: 20px 100px 20px 20px;
  border-radius: 25px;
  border: 1px solid #000;
  background: #63153F;
  box-shadow: 0px 10px 20px 0px #ccc;
}

.acc-bal {
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Inter;
  font-size: 23px;
  font-weight: 700;
}

.acc-num {
  color: #DDD;
  margin-bottom: 30px;
  font-family: Inter;
  font-size: 21px;
  font-weight: 700;
}

.acc-bal-ngn {
  color: #FFF;
  font-family: Inter;
  font-size: 44px;
  font-weight: 700;
  }

.transfer {
  display: inline-block;
  border-radius: 14px;
  margin-bottom: 50px;
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 30px;
  background: #63153F;
  text-decoration: none;
  box-shadow: 0px 10px 20px 0px #cccccc;
}

.transfer:hover {
  color: #63153F;
  background-color: #fff;
  border: 1px solid #000;
}


.bills {
  width: 300px;
  color: #FFF;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 56px;
  align-items: center;
  border-radius: 14px;
  background: #63153F;
  box-shadow: 0px 10px 20px 0px #cccccc;
}

.bills:hover {
  color: #63153F;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
}

.bills:hover {
  color: #63153F;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
}

.list-head {
  min-width: 600px;
  table-layout: fixed;
  margin: 0 auto;
  box-shadow: 1px 7px 20px 5px #ddd1dc;
  border-radius: 8px;
 
}



.list-head tbody{
  display: block;
  width: 100%;
  overflow-y: scroll;
  height: 280px;
}

.list-head thead tr{
  display: block;
  align-items: center;
}
.list-head > p {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
}

th{
  text-align: center;
}


table thead th:nth-child(1){
  padding: 10px 80px;
}

table thead th:nth-child(2), table thead th:nth-child(3){
  padding: 10px 100px;
}


td{
  background-color: white;
  padding: 10px 55px;
  text-align: center;
}

.list-coll {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 10%;
  height: 55px;
}

.list-coll > p{
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
}

/*scrollbar*/
::-webkit-scrollbar{
  width: 4px;
}

::-webkit-scrollbar-thumb{
  background: #110526;
  border-radius: 10px;
}
::-webkit-scrollbar-button{
  display: block;
}

::-webkit-scrollbar-track{
  background-color: silver;
}