{% extends 'nav-bar.html' %}


{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/accounts.css') }}">
<div class="accounts">
  <div class="bank-btn">
    <p>Bank Accounts</p>
    <a href="">Add Bank Account</a>
  </div>
  <div class="account-grid">
    <div class="account-tile">
      <div class="name-icon">
        <div class="name">
          <p class="bk-name">Bank Name</p>
          <p class="status">Bank Status</p>
        </div>
        <div class="icon">
          <img src="" alt="">
        </div>
      </div>
      <div class="amount">
        <p>N 160000</p>
      </div>
    </div>
    <div class="account-tile">
      <div class="name-icon">
        <div class="name">
          <p class="bk-name">Bank Name</p>
          <p class="status">Bank Status</p>
        </div>
        <div class="icon">
          <img src="" alt="">
        </div>
      </div>
      <div class="amount">
        <p>N 160000</p>
      </div>
    </div>
    <div class="account-tile">
      <div class="name-icon">
        <div class="name">
          <p class="bk-name">Bank Name</p>
          <p class="status">Bank Status</p>
        </div>
        <div class="icon">
          <img src="" alt="">
        </div>
      </div>
      <div class="amount">
        <p>N 160000</p>
      </div>
    </div>
    <div class="account-tile">
      <div class="name-icon">
        <div class="name">
          <p class="bk-name">Bank Name</p>
          <p class="status">Bank Status</p>
        </div>
        <div class="icon">
          <img src="" alt="">
        </div>
      </div>
      <div class="amount">
        <p>N 160000</p>
      </div>
    </div>
    <div class="account-tile">
      <div class="name-icon">
        <div class="name">
          <p class="bk-name">Bank Name</p>
          <p class="status">Bank Status</p>
        </div>
        <div class="icon">
          <img src="" alt="">
        </div>
      </div>
      <div class="amount">
        <p>N 160000</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}