{% extends 'base_land.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/landing.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/media.css')}}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Baloo+Thambi+2&family=Cherry+Bomb+One&family=Libre+Caslon+Text&display=swap" rel="stylesheet">
<div id="land_body">
    <div id="land_head">
        <div id="description">
            <p><span> Seamless</span>Online Banking</p>
            <div id="desc">
                In a world driven by digital innovation, managing your finances should be effortless and efficient. That's where Speedy, your trusted online banking companion, comes into play
            </div>
            <a href="">Sign Up</a>
            <a>Log in</a>
        </div>
        <div id="image_side">
            
        </div>
    </div>
    
</div>
{% endblock %}