{% extends 'user_profile_base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/user_profile.css')}}">

<div id="user_acc">
    <p id="title">Edit User Details</p>
    <p class="title user_name">{{customer.username}}</p>
    <div id="email_edit">
        <div id="form_user">
            <form action="" method="POST" novalidate>
    
            </form>
        </div>
    </div>
    <div id="password_change">
        <button>Change Password</button>
        <div id="form_user">
            <form action="" method="POST" novalidate>
    
            </form>
        </div>
    </div>
    

</div>

{% endblock %}