

<link rel="stylesheet" href="{{ url_for('static', filename='styles/transactions.css') }}">
<div class="transactions">
  <div class="top-btn">
    <div class="bal">
      <p class="acc-bal">Account Balance</p>
      <p class="acc-num">0456757879</p>
      <p class="acc-bal-ngn">NGN 15000</p>
    </div>
    <div class="act-btn">
      <div class="transfer">Make a Transfer</div>
      <div class="bills">Pay a Bill</div>
    </div>
  </div>
  <div class="list-head">
    <p>Date</p>
    <p>Description</p>
    <p>Type</p>
    <p>Amount</p>
    <p>Balance</p>
  </div>
  <div class="list-coll">
    <p>Sep 15</p>
    <p>Unilag fees</p>
    <p>Debit</p>
    <p>160,000</p>
    <p>NGN 1.20</p>
  </div>
</div>